.metricas-container {
    padding: 7em;
    line-height: 24px;
    justify-content: space-between;
    width: 1500px;
    margin: auto;
}

.metricas {
    padding: 0 3em;
}

.metricas__titulo {
    padding: 0.5em;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Inter';
    color: var(--vermelho-fundo);
}

.metricas__descricao {
    padding: 1em 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter';
    color: var(--azul-escuro);
}

.metricas__texto {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    color: var(--azul-claro);
}