.vagas__titulo {
    padding: 3em 0 0.5em 0;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter";
    color: var(--azul-escuro);
    width: 766px;
    margin: auto;
}

.item {
    padding: 2em;
    width: 700px;
    margin: 2em auto;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.item__titulo {
    padding: 0 0 2em 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter';
    color: var(--azul-escuro);
}

.item__tempo,
.item__salario {
    padding-right: 3em;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    color: var(--azul-claro);
}
